<a href="https://colab.research.google.com/github/david4129/Book-Scraping/blob/main/Untitled49.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Scraping Site with BeautifulSoup Library

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#Libraries">Libraries</a></li>    
<li><a href="#Scraping">Web Scraping</a></li>
<li><a href="#eda">Data Analysis</a></li>
<li><a href="#model">Modelling</a></li>
  
</ul>

<a id='intro'></a>
## INTRODUCTION

In this Project, we are going to be scraping data from bookstoscrape.com, a demo site for webscraping purposes. Our goal is to obtain data from this site, store the data in a dataframe and then perform data analysis on the dataset obtained. We are going to make use of the BeautifulSoup and requests library for the scraping. To complete this project, we are going to build a linear regression model to predict the prices of books.

<a id = 'Libraries'></a> 
## Libraries

In [1]:
#import libraries
import os
import re
import sys
from google.colab import drive
sys.path.append('/content/drive/My Drive/Colab Notebooks')
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import seaborn as sns

<a id = "Scraping"></a>
## Web Scraping

In [2]:
#Scrape data on books from the website
#Return a DataFrame containing the information

#Returns a list of internal links of books as well as their categories
def return_urls():
  book_url = requests.get('http://books.toscrape.com/catalogue/category/books_1/index.html').text
  list_book = []
  book_parsed = BeautifulSoup(book_url, 'lxml')
  first_body = book_parsed.find_all('li')
  for i in book_parsed.find_all('a', href = re.compile('\.\./books/[A-Za-z0-9]+')):
    new_url = 'http://books.toscrape.com/catalogue/category' + i['href'][2:]
    category = i.text.strip()
    list_book.append([new_url, category])
  return list_book


#Returns a Dataframe consisting of 
def return_books():
  book_dic = {}
  title_list = []
  price_list = []
  ratings = []
  cat_list = []
  packed_url = return_urls()
  for i in packed_url:
    obt_url = requests.get(i[0]).text
    parsed_url = BeautifulSoup(obt_url, 'lxml')
    books = parsed_url.find_all('li', class_ = 'col-xs-6 col-sm-4 col-md-3 col-lg-3')
    for book in books:
      book_title = book.find('h3').text
      book_price = book.find('p', class_ = 'price_color').text[1:]
      rating = book.article.p['class'][1]
      categories = i[1]

      title_list.append(book_title)
      price_list.append(book_price)
      ratings.append(rating)
      cat_list.append(categories)
  book_dic['Title'] = title_list
  book_dic['Price'] = price_list
  book_dic['ratings'] = ratings
  book_dic['category'] = cat_list
  return pd.DataFrame(book_dic)

return_books()

                                  Title   Price ratings  category
0               It's Only the Himalayas  £45.17     Two    Travel
1           Full Moon over Noahâs ...  £49.43    Four    Travel
2        See America: A Celebration ...  £48.87   Three    Travel
3    Vagabonding: An Uncommon Guide ...  £36.94     Two    Travel
4                  Under the Tuscan Sun  £37.33   Three    Travel
..                                  ...     ...     ...       ...
512              Why the Right Went ...  £52.65    Four  Politics
513      Equal Is Unfair: America's ...  £56.86     One  Politics
514                      Amid the Chaos  £36.58     One  Cultural
515                          Dark Notes  £19.19    Five   Erotica
516              The Long Shadow of ...  £10.97     One     Crime

[517 rows x 4 columns]